<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <title>Shopping-E - Frontend</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Furnyish Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css' />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    
          rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- start menu -->
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="js/menu_jquery.js"></script>
    <script src="js/simpleCart.min.js"> </script>
    <script src="js/responsiveslides.min.js"></script>
    <!--<link href="css/form.css" rel="stylesheet" type="text/css" media="all"/>-->
    <link href="https://raw.githubusercontent.com/iamShofi/pv1/35aa5fd263eae7bc92dabceed2804786ecd3781e/app/assets/stylesheets/form.css" type="text/css" media="all"/>
    <script src="js/simpleCart.min.js"> </script>
    <!--<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>-->
    <script>tinymce.init({selector:'textarea'});</script>
    <!--etalage-->
    <link rel="stylesheet" href="css/etalage.css">
    <script src="js/jquery.etalage.min.js"></script>
    
    <!--<script>-->
        <!--// You can also use "$(window).load(function() {"-->
        <!--$(function () {-->
            <!--// Slideshow 1-->
            <!--$("#slider1").responsiveSlides({-->
                <!--auto: true,-->
                <!--nav: true,-->
                <!--speed: 500,-->
                <!--namespace: "callbacks",-->
            <!--});-->
        <!--});-->
    <!--</script>-->
    <script>
        jQuery(document).ready(function($){

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function(image_anchor, instance_id){
                    alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                }
            });

        });
    </script>
    
    
    <!-- //etalage-->
</head>
<body>
<div th:fragment="navbar">
<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="#">help</a></li>|
                    <li><a href="contact.html">Contact</a></li>|
                    <li><a href="/login">Track Order</a></li>
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link"><a href="#">Store hours &#38; Directions</a></li>|
                    <li class="top_link"><a sec:authorize="isAnonymous()" th:href="@{/login}">My Account</a></li>|
                    <!--<li class="top_link"><a sec:authorize="isAuthenticated()" th:href="@{/setting}">My Account</a></li>|-->
                    <li class="top_link"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>|

                </ul>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="facebook"></i></a></li>
                        <li><a href="#"><i class="twitter"></i></a></li>
                        <li><a href="#"><i class="dribble"></i></a></li>
                        <li><a href="#"><i class="google"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="header_top">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt=""/></a>
        </div>
        <div class="header_right">
            <div class="login">
                <a href="/login">LOGIN</a>
            </div>
            <div class="cart box_1">
                <a href="cart.html">
                    <h3> <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> items)<img src="images/bag.png" alt=""></h3>
                </a>
                <p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--cart-->

<!------>
<div class="mega_nav">
    <div class="container">
        <div class="menu_sec">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li th:classappend="${activeTabHome} ? 'active'"><a class="color1" href="/">Home</a></li>
                <li th:classappend="${activeTabProducts} ? 'active'"><a class="color2" href="/products">All products</a></li>
                <li><a class="color4" href="#">living</a></li>
                <li><a class="color5" href="#">kitchen & dinning</a></li>
                <li><a class="color6" href="#">appliances</a></li>
                <li><a class="color7" href="#">decor</a></li>
            </ul>
            <div class="search">
                <form style="margin-bottom: 0px;">
                    <input type="text" value="" placeholder="Search...">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>

<!-- Footer -->
<div th:fragment="footer">
    <div class="footer-content">
        <div class="container">
            <div class="ftr-grids">
                <div class="col-md-3 ftr-grid">
                    <h4>About Us</h4>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Our Sites</a></li>
                        <li><a href="#">In The News</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Carrers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h4>Customer service</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Cancellation</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Bulk Orders</a></li>
                        <li><a href="#">Buying Guides</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h4>Your account</h4>
                    <ul>
                        <li><a href="account.html">Your Account</a></li>
                        <li><a href="#">Personal Information</a></li>
                        <li><a href="#">Addresses</a></li>
                        <li><a href="#">Discount</a></li>
                        <li><a href="#">Track your order</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">> Furinture</a></li>
                        <li><a href="#">> Bean Bags</a></li>
                        <li><a href="#">> Decor</a></li>
                        <li><a href="#">> Kichen & Dinning</a></li>
                        <li><a href="#">> Bed & Bath</a></li>
                        <li><a href="#">...More</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
    <div class="footer">
        <div class="container">
            <div class="store">
                <ul>
                    <li class="active">OUR STORE LOCATOR::</li>
                    <li><a href="#">Noida</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Belgium</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">China</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Germany</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Japan</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Armenia</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">South Africa</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Malaysia</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Indonesia</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Mumbai</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Portugal</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Spain</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Northern Ireland</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Mohali</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Gurgaon</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Panchkula</a></li>
                    <li><a href="#">|</a></li>
                    <li><a href="#">Ambala</a></li>
                </ul>
            </div>
            <div class="copywrite">
                <p>Copyright © 2015 Furnyish Store All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
    
</div>
</body>
</html>
